body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}

p {
    font-size: 18px;
    color: #999;
    margin-bottom: 0;
}

.topmargin-xs {
    margin-top: 15px;
}

.topmargin-sm {
    margin-top: 30px;
}

.topmargin-lg {
    margin-top: 60px;
}

.navbar {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
    color: red;
}

.nav-link {
    color: black;
}

.logo-brand {
    width: 50px;
    position: relative;
    top: 25px;
    left: 0;
}

@media (min-width: 900px) {
    .navbar {
        height: 10px;
        z-index: 1000;
    }
}

@media (max-width: 991px) {
    .logo-brand {
        width: 60px;
        position: relative;
        top: 5px;
        left: 0;
    }
    /* Bugs de la derecha blanca para telefonos*/
    .buggs {
        position: absolute;
        right: 0;
        right: 0;
    }
    /* Reducir el tamaño de la navbar un poco*/
 
}

.menu-cell {
    position: absolute;
    right: 0;
    margin: 10px;
    font-size: 40px;
}

.menu-cell:focus {
    outline: none;
}

#hero {
    background-image: url('/img/TiendaPanaderia_2.png');
    background-size: cover;
    min-height: 700px;
    color: white;
}

#hero p {
    color: white;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    padding-top: 100px;
    text-align: center;
}