body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
    color: red;
}

.nav-link {
    color: black;
}

.logo-brand {
    width: 50px;
    position: relative;
    top: 25px;
    left: 0;
}

@media (max-width: 991px) {
    .logo-brand {
        width: 60px;
        position: relative;
        top: 5px;
        left: 0;
    }
}

.menu-cell {
    position: absolute;
    right: 0;
    margin: 10px;
    font-size: 40px;
}

.menu-cell:focus {
    outline: none;
}